.Modal {
    position: absolute;
    top: 90px;
    left: 300px;
    right: 300px;
    bottom: 140px;
    border-radius: 25px;
    height: 600px;
    background-color: #353A3E;
    outline: none;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    outline: none;
    
  }