@-webkit-keyframes zoomX {
  from {
    -webkit-transform: translateX(-50%) ;
  }
  to {
    -webkit-transform: translateX(0);
  }
}

@keyframes zoomX {
  from {
    transform: translateX(-50%); 
  }
  to {
    transform: translateX(0);
  }
}


@-webkit-keyframes zoomY {
  from {
    -webkit-transform: translateY(-50%) ;
  }
  to {
    -webkit-transform: translateY(0);
  }
}

@keyframes zoomY {
  from {
    transform: translateY(-50%); 
  }
  to {
    transform: translateY(0);
  }
}


.Modal {
    margin-left: auto;
    margin-right: auto;
    bottom: 140px;
    border-radius: 25px;
    width: 90%;
    margin-top: 20vh;
    margin-bottom: 20vh;
    height: 60vh;
    background-color: #25262B;
    border: 2px solid white;
    outline: none;
    /*-webkit-transform: translate(3em,0);*/
    -webkit-animation-name: zoomY;
    -webkit-animation-duration: 0.6s;
    animation-name: zoomY;
    animation-duration: 0.6s;
    /*animation-name: modalFadeY;
    animation-duration: .6s;*/
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    outline: none;
    
  }

 
  
  .MenuModal {
    position: absolute;
    height: 100vh;
    width: 50%;
    background-color: #353A3E;
    outline: none;
    -webkit-animation-name: zoomX;
    -webkit-animation-duration: 0.6s;
    animation-name: zoomX;
    animation-duration: 0.6s;
  }

  .MenuOverlay {
    margin-top:64px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    outline: none;
  }